<div class="flex flex-col gap-y-2 md:flex-row gap-x-5 md:w-[80%] md:mx-auto md:my-0">
  <aside class="flex md:flex-col gap-y-1 dark:text-white bg-white dark:bg-neutral-800 text-xs rounded-2xl p-3">
    @for (accountRoute of accountRoutes(); track $index) {
      <a [routerLink]="accountRoute.url" [routerLinkActive]="['bg-neutral-600']" [routerLinkActiveOptions]="{exact:true}" class="rounded px-3 py-1">{{accountRoute.title}}</a>
    }
  </aside>
  <div class="flex-1 bg-neutral-700 rounded-2xl p-5 dark:text-white min-h-[400px]">
    <router-outlet/>
  </div>
</div>