@import "tailwindcss";

/* Preline UI */
@source "../node_modules/preline/dist/*.js";
@import "../node_modules/preline/variants.css";

/* Plugins */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

h1 {
    @apply text-3xl md:text-4xl font-bold
}

.link {
    @apply text-blue-600 dark:text-neutral-200 hover:underline
}

.button {
    @apply p-1.5 cursor-pointer disabled:cursor-not-allowed flex gap-x-1 rounded items-center justify-center disabled:text-gray-300
}

.button-error {
    @apply bg-red-500 dark:bg-red-600 text-white rounded
}

.button-info {
    @apply bg-blue-500 dark:to-blue-600 text-white
}

.button-success {
    @apply bg-green-500 dark:bg-green-600 text-white disabled:bg-green-900;
}

.divider {
    @apply h-[1.2px] bg-neutral-600/40 my-2
}

/* QUILL */
.ql-toolbar {
    @apply bg-neutral-900;
}

.ql-toolbar.ql-snow {
    @apply !border-neutral-700
}

.ql-container.ql-snow {
    @apply !border-neutral-700
}

.ql-editor {
    @apply bg-neutral-900 text-neutral-400;
}

.ql-snow .ql-picker-options {
    @apply dark:!bg-neutral-800;
}

.ql-snow .ql-picker {
    @apply dark:!text-white;
}

.tooltip {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tooltip-text {
    position: absolute;
    visibility: hidden;
    display: block;
    width: fit-content;
    top: 53px;
    z-index: 1000;
    @apply bg-neutral-500 rounded p-3;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* .ql-toolbar .ql-stroke {
    fill: none;
    @apply dark:!stroke-white;
}

.ql-toolbar .ql-fill {
    @apply dark:!fill-white stroke-none;
}

.ql-toolbar .ql-picker {
    @apply !text-white;
} */

@keyframes notification-enter {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes notification-leave {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(10px);
  }
}

.notification-enter {
  animation: notification-enter 0.25s ease-out forwards;
}

.notification-leave {
  animation: notification-leave 0.25s ease-in forwards;
}
