<div class="w-[40%] mx-auto my-0 text-white">
    @if (!emailSent()) {
    <form (ngSubmit)="onSendEmailFormSubmit()" [formGroup]="sendEmailForm">
        <h1>Cambiar contraseña</h1>
        <p class="text-sm font-light">¿Olvidaste tu contraseña? No te preocupes aún podemos recuperarla</p>
        <div class="divider"></div>
        <app-input-component [formGroup]="sendEmailForm" inputType="email" name="email"
            label="Correo asociado a la cuenta" />
        <button class="button button-success mt-4" [disabled]="sendEmailForm.invalid">Enviar correo de restablecimiento</button>
    </form>
    } @else {
        <form>
            <button (click)="emailSent.set(!emailSent())" type="button" class="font-bold mb-5">
                Volver al paso anterior
            </button>

            <h1>Casi lo logramos!</h1>
            <p>Revisa tu correo, escribe el token que se te proporciona y tu nueva contraseña</p>
            <div class="divider"></div>
            <div class="flex flex-col gap-y-4">
                <app-input-component inputType="text" [formGroup]="changePasswordForm" name="token" label="Token"/>
                <app-input-component inputType="text" [formGroup]="changePasswordForm" name="newPassword" label="Nueva contraseña"/>
            </div>
            <button class="button button-success mt-3" type="submit">
                Aplicar nueva contraseña
            </button>
        </form>
    }
</div>