<div class="w-[80%] md:w-[60%] mx-auto my-0 text-white">
    @if (!emailSent()) {
    <form (ngSubmit)="onSendEmailFormSubmit()" [formGroup]="sendEmailForm">
        <h1>Cambiar contraseña</h1>
        <p class="text-sm font-light">¿Olvidaste tu contraseña? No te preocupes aún podemos recuperarla</p>
        <div class="divider"></div>
        <app-input-component [formGroup]="sendEmailForm" inputType="email" name="email"
            label="Correo asociado a la cuenta" />
        <button class="button button-success mt-4" [disabled]="sendEmailForm.invalid">Enviar correo de restablecimiento</button>
    </form>
    } @else {
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordForm()">
            <button (click)="returnPreviousStep()" type="button" class="font-bold mb-5 cursor-pointer">
                Volver al paso anterior
            </button>

            <h1>¡Ya casi lo logramos!</h1>
            <p>Escribe tu nueva contraseña y asegúrate de no olvidarla nuevamente ;b</p>
            <div class="divider"></div>
            <div class="flex flex-col gap-y-4">
                <app-input-component inputType="text" [formGroup]="changePasswordForm" name="newPassword" label="Nueva contraseña"/>
                <app-input-component inputType="text" [formGroup]="changePasswordForm" name="newPassword_confirmation" label="Re-escribe tu contraseña nueva para continuar"/>

            </div>
            <button class="button button-success mt-3" type="submit" [disabled]="changePasswordForm.invalid">
                Aplicar nueva contraseña
            </button>
        </form>
    }
</div>